<%# This is the code template for the footer %>
<footer>
  <ul>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p>Copyright 2018</p>
</footer>
