<%# This is the user specific navigation %>
<div id="gsn">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
      <a href="/connections">Connections</a>
</div>
