<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Contact</title>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
    <%# include the templates %>
			<% include partials/header.ejs %>
			<main>
        <%# include the templates %>
				<% include partials/navigation.ejs %>
				<div id="page_name">
				<b>Contact</b>
				</div>
				<div id="main_content">
				<h2>Contact Us at</h2>
				<h3>Number</h3>
				<p>9802672486</p>
				<br>
				<h3>Email</h3>
				<p>sdeshmu7@uncc.edu</p>
				<br>
				</div>
			</main>
      <%# include the templates %>
		<% include partials/footer.ejs %>
	</body>
	</html>
